<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Consultancy Service Portal</h5>
                <p>Connecting skilled workers with clients in your area.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light">Home</a></li>
                    <li><a href="/client/search" class="text-light">Browse Services</a></li>
                    <li><a href="/register" class="text-light">Register</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <p>Email: support@consultancyportal.com</p>
                <p>Phone: +1 (555) 123-4567</p>
            </div>
        </div>
        <hr class="bg-light">
        <div class="text-center">
            <p>&copy; <%= new Date().getFullYear() %> Consultancy Service Portal. All rights reserved.</p>
        </div>
    </div>
</footer>

